In [1]:
import pandas as pd
import numpy as np
df1=pd.read_csv('OrganizedTables/HourlyLoadPerNode.csv',index_col=range(4))
df2=pd.read_csv("../../../mexico-small/timepoints.tab",sep="\t",index_col=0)
df2

               timestamp  timeseries
timepoint_id
0             2016120920        2016
1             2016051904        2016
2             2017120920        2017
3             2017022816        2017
4             2018120920        2018
5             2018111710        2018
6             2019120920        2019
7             2019022111        2019
8             2020120920        2020
9             2020051909        2020
10            2021120920        2021
11            2021102103        2021
12            2022120920        2022
13            2022012513        2022
14            2023120920        2023
15            2023020311        2023
16            2024120920        2024
17            2024070621        2024
18            2025120920        2025
19            2025121110        2025
20            2026120920        2026
21            2026041508        2026
22            2027120920        2027
23            2027012915        2027
24            2028120920        2028
25            2028041017        2028
26            2029120920        2029
27            2029031614        2029
28            2030120920        2030
29            2030010609        2030

In [2]:
df3=pd.DataFrame()
for lz in df1.columns.tolist():
    print lz
    df4=pd.DataFrame()
    df4['timepoint']=range(df2.shape[0])
    df4['load_zone']=lz
    for i in range(df2.shape[0]):
        t=str(df2.loc[i,'timestamp'])
        df4.loc[i,'lz_demand_mw']=df1.xs([int(t[:4]),int(t[4:6]),int(t[6:8]),int(t[8:])+1])[lz]
    df3=df3.append(df4,ignore_index=True)
df3

01-hermosillo
02-cananea
03-obregon
04-los_mochis
05-culiacan
06-mazatlan
07-juarez
08-moctezuma
09-chihuahua
10-durango
11-laguna
12-rio_escondido
13-nuevo_laredo
14-reynosa
15-matamoros
16-monterrey
17-saltillo
18-valles
19-huasteca
20-tamazunchale
21-guemez
22-tepic
23-guadalajara
24-aguascalientes
25-san_luis_potosi
26-salamanca
27-manzanillo
28-carapan
29-lazaro_cardenas
30-queretaro
31-central
32-poza_rica
33-veracruz
34-puebla
35-acapulco
36-temascal
37-coatzacoalcos
38-tabasco
39-grijalva
40-ixtepec
41-lerma
42-merida
43-cancun
44-chetumal
45-cozumel
46-tijuana
47-ensenada
48-mexicali
49-san_luis_rio_colorado
50-villa_constitucion
51-la_paz
52-los_cabos
53-mulege

      timepoint      load_zone  lz_demand_mw
0             0  01-hermosillo    716.657215
1             1  01-hermosillo    900.785559
2             2  01-hermosillo    751.113264
3             3  01-hermosillo    765.228244
4             4  01-hermosillo    790.961067
5             5  01-hermosillo    696.394704
6             6  01-hermosillo    833.676076
7             7  01-hermosillo    781.447037
8             8  01-hermosillo    871.153889
9             9  01-hermosillo    965.723995
10           10  01-hermosillo    909.786465
11           11  01-hermosillo   1091.016546
12           12  01-hermosillo    945.421934
13           13  01-hermosillo    847.542237
14           14  01-hermosillo    980.992183
15           15  01-hermosillo    756.222868
16           16  01-hermosillo   1017.176809
17           17  01-hermosillo   1578.479508
18           18  01-hermosillo   1058.770681
19           19  01-hermosillo    937.506547
20           20  01-hermosillo   1098.289101
21           21  01-hermosillo    941.740808
22           22  01-hermosillo   1135.772174
23           23  01-hermosillo   1014.718688
24           24  01-hermosillo   1173.180647
25           25  01-hermosillo   1395.721743
26           26  01-hermosillo   1217.952139
27           27  01-hermosillo   1016.360653
28           28  01-hermosillo   1262.752623
29           29  01-hermosillo   1012.300872
...         ...            ...           ...
1560          0      53-mulege     18.000000
1561          1      53-mulege     14.000000
1562          2      53-mulege     19.519125
1563          3      53-mulege     15.523360
1564          4      53-mulege     20.131243
1565          5      53-mulege     16.432665
1566          6      53-mulege     27.367239
1567          7      53-mulege     20.852613
1568          8      53-mulege     28.292323
1569          9      53-mulege     28.336821
1570         10      53-mulege     29.332813
1571         11      53-mulege     22.415559
1572         12      53-mulege     30.353807
1573         13      53-mulege     26.325319
1574         14      53-mulege     31.428938
1575         15      53-mulege     23.415582
1576         16      53-mulege     32.500014
1577         17      53-mulege     39.098730
1578         18      53-mulege     33.738107
1579         19      53-mulege     33.807086
1580         20      53-mulege     34.958479
1581         21      53-mulege     21.095240
1582         22      53-mulege     36.227078
1583         23      53-mulege     26.309733
1584         24      53-mulege     37.462259
1585         25      53-mulege     34.685055
1586         26      53-mulege     38.871198
1587         27      53-mulege     25.815537
1588         28      53-mulege     40.263916
1589         29      53-mulege     26.312511

[1590 rows x 3 columns]

In [3]:
df3.to_csv("../../../mexico-small/loads.tab",sep="\t",index=False)